/* General */
.menu-logo {
  display: flex;
  align-items: center;
  inline-size: 100%;
}

.img_menu {
  inline-size: 70%;
  block-size: auto;
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  block-size: 100vh;
  overflow: hidden;
  background-color: #f4f4f4;
}

.container_fluid {
  display: flex;
  inline-size: 100%;
  min-block-size: 100vh;
}

/* Botón para colapsar el menú */
.menu-toggle {
  display: none;
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  background-color: #4f799d;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}

/* Menú lateral */
.sidebar {
  inline-size: 350px;
  background-color: #4f799d;
  color: #ecf0f1;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100vh;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

.sidebar ul li {
  margin: 10px 0;
  position: relative;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ecf0f1;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #ecf0f1;
}

/* Submenús */
.submenu {
  display: none;
  background-color: #4f799d;
}

.submenu li a {
  padding-inline-start: 30px;
  margin-left: 15px;
}

/* Flechas */
.has-submenu > a::after {
  content: "▼";
  float: inline-end;
}

.has-submenu.open > a::after {
  content: "▲";
}

.has-submenu > a {
  background-color: #4f799d;
  color: #4f799d;
}

.logout-btn {
  margin-block-start: auto;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #c0392b;
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    transform: translateX(-100%);
    z-index: 999;
    box-sizing: border-box;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main-content {
    padding: 10px;
  }

  #contenido h1 {
    font-size: 20px;
  }
}
