/*******AQUÍ EMPIEZA ES EL CSS PARA EL LOGIN Y REGISTRO*******/

/* General styles */

/* Estilo para la imagen de fondo del formulario de login */
.login-image {
    inline-size: 100%;
    block-size: auto;
    margin-block-end: 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    object-fit: cover;
}

/* Estilos generales para el body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background: url(../img/fondo.png) no-repeat center center/cover;
}

/* Contenedor principal del formulario de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 500px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Estilos para el contenedor del formulario de registro */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 500px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Estilo para la tarjeta de login */
.login-card {
    inline-size: 100%;
    text-align: center;
}

/* Estilo para el título principal (h2) */
.login-card h2 {
    margin-block-end: 20px;
    font-size: 24px;
    color: #555;
}

/* Estilo para los grupos de entradas (input) */
.input-group {
    margin-block-end: 20px;
    text-align: start;
}

/* Estilo para las etiquetas de los campos de entrada (label) */
.input-group label {
    display: block;
    font-size: 14px;
    margin-block-end: 5px;
    color: #333;
}

/* Estilo para los campos de entrada (input) */
.input-group input {
    inline-size: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para las opciones (links) en el formulario */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 20px;
    font-size: 14px;
    color: #777;
}

/* Estilo para los enlaces dentro de las opciones */
.options a {
    text-decoration: none;
    color: #6c63ff;
}

/* Efecto hover para los enlaces */
.options a:hover {
    text-decoration: underline;
}

/* Estilo para los botones de login y registro */
.login-btn,.register_btn {
    inline-size: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para el mensaje de éxito o error */
.success-message,
.error-message {
   text-align: center;
   margin-block-start: 10px;
   font-size: 14px;
}

/* Estilo para el mensaje de éxito */
.success-message {
   color: green;
}

/* Estilo para el mensaje de error */
.error-message {
   color: red;
}

/* Estilo para el botón de retroceso (back) */
.back-btn {
   margin-block-start: 10px;
   font-size: 14px;
   color: #6c63ff;
   text-decoration: none;
}

/* Estilo para el botón de retroceso al pasar el mouse */
.login-btn:hover {
    background-color: #5848c2;
}

/* Estilo para el enlace "crear cuenta" */
.create-account {
    margin-block-start: 10px;
    font-size: 14px;
}

/* Estilo para el enlace dentro de "crear cuenta" */
.create-account a {
    text-decoration: none;
    color: #6c63ff;
}

/* Efecto hover para el enlace "crear cuenta" */
.create-account a:hover {
    text-decoration: underline;
}

/* Estilo para el enlace de soporte */
.soporte {
    margin-block-start: 10px;
    font-size: 14px;
}

/* Estilo para los enlaces dentro de "soporte" */
.soporte a {
    text-decoration: none;
    color: #6c63ff;
}

/* Efecto hover para los enlaces dentro de "soporte" */
.soporte a:hover {
    text-decoration: underline;
}

/* Estilos para los campos de selección (select) */
.select-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Estilo para las etiquetas de los campos select */
.select-group label {
    font-size: 14px;
    white-space: nowrap;
}

/* Estilo para los campos select */
select {
    font-size: 14px;
    padding: 5px;
}

.recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

/* Escala el reCAPTCHA */
.recaptcha-container .g-recaptcha {
    transform: scale(0.9);
    transform-origin: center;
}

@media (max-width: 600px) {
    .login-container {
        padding: 10px;
        max-inline-size: 100%;
    }
    .login-card h2 {
        font-size: 20px;
    }
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.7);
    border-color: rgba(108, 99, 255, 0.7);
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    inline-size: 100%;
}

.password-container input[type="password"] {
    inline-size: 100%;
    padding-inline-end: 40px;
    padding-inline-start: 10px;
    block-size: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.password-container .eye-icon {
    position: absolute;
    inset-inline-end: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}
