/* Estilos específicos para listar los registros */
.listar-body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.listar-container {
    max-inline-size: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Título */
.listar-container h1 {
    font-size: 28px;
    margin-block-end: 20px;
    color: #333333;
}

/* Contenedor principal de los botones y el formulario */
.btn-buscar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-block-end: 20px;
}

/* Ajustes para el formulario de búsqueda */
.form-inline {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

/* Campo de texto de búsqueda */
#query {
    flex-grow: 1;
    block-size: calc(1.5rem + .75rem + 2px);
    margin: 0;
}

/* Botón de registro */
.listar-container .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-block-end: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.listar-container .btn-primary:hover {
    background-color: #0056b3;
}

/* Tabla */
.listar-container .table {
    inline-size: 100%;
    border-collapse: collapse;
    margin-block-end: 1 0px;
    table-layout: fixed;
    word-wrap: break-word;
}

.listar-container .table th, .listar-container .table td {
    border: 1px solid #dddddd;
    text-align: start;
    padding: 5px;
}

.listar-container .table th {
    background-color: #f2f2f2;
    color: #333333;
}

.listar-container .table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones de acción */
.listar-container .btn-warning, .listar-container .btn-danger {
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.listar-container .btn-warning {
    background-color: #ffc107;
}

.listar-container .btn-warning:hover {
    background-color: #e0a800;
}

.listar-container .btn-danger {
    background-color: #dc3545;
}

.listar-container .btn-danger:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .table td:nth-child(3), .table th:nth-child(3) {
        display: none;
    }
    .btn-buscar-container {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        inline-size: 100%;
    }
}
